# http server configuration
http:
  ip: "127.0.0.1"
  port: 8080


# mysql configuration
mysql:
  ip: "127.0.0.1"
  port: 3306
  dbname: "{{ .Name }}"
  user: "root"
  pass: "123456"
  # 空闲中的最大连接数
  max_idle_conns: 10
  # 打开到数据库的最大连接数
  max_open_conns: 5
  # 开启 gorm 全局日志
  debug: false

# zap logger configuration
log:
  # 可使用 "debug", "info", "warn", "error", "dpanic", "panic", "fatal",
  level: "debug"
  prefix: "[{{upper .Name }}]"
  director: "logs"
  # 调用行号
  show_line: false
  # console: 控制台, json: json格式输出
  format: "console"
  # 日志等级颜色
  color: true
  # 是否开启栈追踪，默认开启，若不开启为空字符串
  stacktrace: "error"